.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.hidden{
  display: none;
}

@media screen and (max-width:576px){
  nav {
    height: 60px;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav #logo {
    width: 137px;
    height: 20px;
  }
  .nav-links {
    display: none;
  }
  nav button {
    display: none;
  }
  #banner {
    width: 100%;
    height: 460px;
    padding: 40px 20px;
  }
  #banner #circle {
    width: 200px;
    height: 200px;
  }
  #banner #microphone {
    width: 60px;
    height: 90px;
  }
  #banner #badge-new {
    top: 10px;
    right: 10px;
    font-size: 16px;
  }
  #banner #banner-text {
    font-size: 40px;
  }
  #banner #banner-p {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
  }
   footer {
    width: 100%;
    height: 248px;
    padding: 40px 20px;
   }
   footer img {
    width: 219px;
    height: 32px;
   }
   footer #footer-card {
   padding-left: 100px;
   padding-right: 100px;
   gap: 16px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-items: center;

   }
   footer #footer-card #footer-card1, #footer-card2, #footer-card3, #footer-card4 {
    margin-right: 0;
   }
   footer #footer-card img {
    width: 20px;
    height: 20px;
   }
  }