.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@media screen and (max-width:576px){
  nav {
    height: 60px;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav #logo {
    width: 137px;
    height: 20px;
  }
  .nav-links {
    display: none;
  }
  nav button {
    display: none;
  }
  #banner {
    width: 100%;
    height: 460px;
    padding: 40px 20px;
  }
  #banner #circle {
    width: 200px;
    height: 200px;
  }
  #banner #microphone {
    width: 60px;
    height: 90px;
  }
  #banner #badge-new {
    top: 10px;
    right: 10px;
    font-size: 16px;
  }
  #banner #banner-text {
    font-size: 40px;
  }
  #banner #banner-p {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
  }
  /* #podcast-section {
    width: 100%;
    height: auto;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  /* #podcast-section h1 {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  #podcast-section p {
    font-size: 16px;
    margin-bottom: 16px;
    max-width: 100%;
  }
  #podcast-section #podcast-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  #podcast-section #podcast-cards #card {
    width: 180px;
  } */
  
}