.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
@media screen and (max-width:576px){
  nav {
    /* width: 440px; */
    height: 60px;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav #logo {
    width: 137px;
    height: 20px;
  }
  .nav-links {
    display: none;
  }
  nav button {
    display: none;
  }
  #banner {
    width: 100%;
    height: 460px;
    padding: 40px 20px;
  }
  #banner #circle {
    width: 200px;
    height: 200px;
  }
  #banner #microphone {
    width: 60px;
    height: 90px;
  }
  #banner #badge-new {
    top: 10px;
    right: 10px;
    font-size: 16px;
  }
  #banner #banner-text {
    font-size: 40px;
  }
  #banner #banner-p {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
  }
}